.search-bar{
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 6.25rem;
    background-color: antiquewhite;
}

.search-bar input{
    display: flex;
    flex: 1;
    /* width: 640px; */
    border: none;
    margin: 1.875rem 0 1.875rem 1.875rem;
    border-radius: 0.313rem 0 0 0.313rem ;
}

.search-bar button{
    cursor: pointer;
    border: none;
    border-radius: 0 0.313rem 0.313rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.875rem 1.875rem 1.875rem 0;
}