body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #161615;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.cards {
  margin: 1.875rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  gap: 20px;
}

.cards a{
  text-decoration: none;
  color: #605b53;
}

.zoom-image {
  display: block;
  overflow: hidden;
}

.info-image {
  display: flex;
  justify-content: center;
  background-color: #1c1c1c;
}

.image {
  height: 12.5rem;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  transition: transform .5s ease;
}

.image:hover {
  overflow: hidden;
  transform: scale(1.16);
}

.pagination{
  display: flex;
  justify-content: center;
}

.pagination p {
  color: #fff;
}